*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family: 'Poppins', sans-serif;
}

body{
  background:#000;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}

/* Reel Section */
.reel{
  min-height:100vh;
  scroll-snap-align: start;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  text-align:center;
  padding:30px;
  color:white;
}

/* Music Button */
#musicBtn{
  position:fixed;
  top:20px;
  right:20px;
  z-index:999;
  background:#ff4d6d;
  color:white;
  border:none;
  border-radius:50%;
  width:50px;
  height:50px;
  font-size:20px;
}


/* Typing Reel */
.typing-reel{
  background:linear-gradient(135deg,#f19a5c,#f9db6f);
}

.typing-reel h1{
  font-family:"Great Vibes", cursive;
  font-style:bold;
  font-size: 6rem;
  color:#6b3f2d;
  margin-bottom:15px;
}
.card-h{
  font-family:"Great Vibes", cursive;
  font-style:bold;
  font-size: 4rem;
  color:darkorange;
  margin-bottom:5px;
  padding: 40px 15px;
}

.typing-reel p{
  color:#6b3f2d;
  font-size: 20px;
}

/* Collage Reel */
.collage-reel{
  background:linear-gradient(135deg,#5A3F37,#2C7744);
  width:100%;
  padding:40px 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* GRID */
.collage-grid {
  width: 1200px;
  margin: 40px auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

/* CARD */
.collage {
  position: relative;
  height: 220px;
  overflow: hidden;
  border-radius: 14px;
}

.collage img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: filter 0.4s ease;
}

/* OVERLAY */
.overlay {
  position: absolute;
  inset: 0;
  background: linear-gradient(
    to top,
    rgba(0,0,0,0.7),
    rgba(0,0,0,0.2),
    transparent
  );
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 16px;
  opacity: 0;
  transition: opacity 0.4s ease;
}

/* HOVER EFFECT */
.collage:hover img {
  filter: blur(2px);
}

.collage:hover .overlay {
  opacity: 1;
}

/* RESPONSIVE */
@media (max-width: 1024px) {
  .collage-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .collage-grid {
    grid-template-columns: 1fr;
  }
}

.typing-reel button{
  margin-top:120px;
  padding:15px 40px;
  font-size:18px;
  border:none;
  border-radius:25px;
  background:#ff758f;
  color:white;
}

/* Message Reel */
.message-reel{
  background:linear-gradient(135deg,#667eea,#764ba2);
}

.card{
  background:rgba(255,255,255,0.18);
  color:#fff;
  padding:55px 50px;
  border-radius:28px;
  max-width:720px;
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  text-align:center;
}
.card h2{
  font-family: 'Great Vibes', cursive;
  color:coral;
  font-size:2.4rem;
  margin-bottom:25px;
}
.card p{
  font-size:1.2rem;
  line-height:1.8;
}
.card span{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, cursive;
  
  font-style: italic;
  font-weight: strong;
  color:yellow;
  display:block;
  margin-top:20px;
  font-size:1.15rem;
  font-style:italic;
}

/* Floating hearts + flowers */
.heart,.flower{
  position:fixed;
  bottom:-20px;
  animation:floatUp linear infinite;
}

.heart{
  color:red;
  font-size:20px;
}

.flower{
  font-size:18px;
}

@keyframes floatUp{
  to{
    transform:translateY(-110vh);
    opacity:0;
  }
}
